@import 'variables.scss';

.music-container{
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    background-color: rgb(27, 27, 27);
    min-height: 55vh;
    padding: 100px 0;
    @media(max-width: $md){
        min-height: 70vh;
    }
}

.music-sites{
    @media (min-width: $md){
        width: 50%;
    }
}

.title-music{
    @media(min-width: $md){
        margin: 15px 0 30px 0;
    }
}

.ae .af{
    background-color: $main-green;
}
//CARD

.section-member__card{
    p{
        margin: 0;
    }
}
