body, html {
  height: 100%;
}
html{
  scroll-behavior:smooth;
  overflow-x:hidden;
}
body{
overflow-x: hidden;

}
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.logo-header{
  height: 350px;
  @media (max-width: 768px) {
    height: 200px;
  }
}


h2, h3, h4 {
  color: #288C05;
}

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero.jpg");
height: 100vh;
width: 100%;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.menu-language__container{
  @media (min-width:992px) {
  display:flex;
  margin-left: auto;
  flex-direction: column
  }
}


.language-selector{
  display: flex;
  margin-bottom: 5px;
  list-style: none;
  @media (min-width:768px) {
      // Para que esté alineado a la derecha con los items del menú
      margin-right: 8px;
      margin-left: auto;
  }
}  

.language-selector__label{
  font-size: 1rem;
  padding: 0 7px;
  cursor: pointer;
  &:hover {
      background-color: #ebebeb;
  }
  &.--active{
      color: grey;
      font-weight: 700;
  }
}

.language-selector__input{
  display: none;  
}